{% extends "layouts/base.html" %}

{% block title %}Dataset{% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title"> Dataset </h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table tablesorter" id="">
                <thead class="text-primary">
                  <tr>
                    <th>STATION</th>
                    <th>NAME</th>
                    <th>LATITUDE</th>
                    <th>LONGITUDE</th>
                    <th>ELEVATION</th>
                    <th>DATE</th>
                    <th>PRCP</th>
                    <th>TAVG</th>
                  </tr>
                </thead>
                <tbody>
                  {% for row in page_obj %}
                  <tr>
                    <td>{{ row.STATION }}</td>
                    <td>{{ row.NAME }}</td>
                    <td>{{ row.LATITUDE }}</td>
                    <td>{{ row.LONGITUDE }}</td>
                    <td>{{ row.ELEVATION }}</td>
                    <td>{{ row.DATE }}</td>
                    <td>{{ row.PRCP }}</td>
                    <td>{{ row.TAVG }}</td>
                  </tr>
                  {% empty %}
                  <tr>
                    <td colspan="16">Aucune donnée disponible</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
              </div>
              <!-- Debugging output -->
              <pre>{{ page_obj }}</pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
