{% extends "layouts/base.html" %}

{% block title %} Charte des stations Métérologiques du Maroc {% endblock %}

{% block stylesheets %}
<!-- Include any additional CSS here -->
{% endblock stylesheets %}

{% block content %}
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="col-sm-6 text-left">
                        <h2 class="card-title">Charte des stations</h2>
                    </div>
                </div>
                <div class="card-body">
                    <div id="map" class="map card-body card-chart">
                        
                        <div>
                            {{ graph_html|safe }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
<!-- Include any additional JS here -->
{% endblock javascripts %}
