{% extends "layouts/base.html" %}

{% block title %} Visualisation {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header">
             
            <div class="col-sm-6 text-left">
              <h2 class="card-title">Visualisation des Précipitations</h2>
          </div>
          </div>
          <div class="card-body">
            <div id="map" class="map card-body card-chart">
              Visualisation ta3 l2a3wam li fato
              {% comment %}  {% endcomment %}
              <div class="card-body">
                <form>

{% comment %} Par année {% endcomment %}
Par année
                  <div class="row">
                    <div class="col-md-3 pr-md-1">
                      <div class="form-group">
                        <label for="city-select">Ville</label>
                        <select id="city-select" class="form-control">
                          <option value="MELILLA, SP">MELILLA, SP</option>
                          <option value="BASSATINE, MO">BASSATINE, MO</option>
                          <option value="SALE, MO">SALE, MO</option>
                          <option value="OUARZAZATE, MO">OUARZAZATE, MO</option>
                          <option value="NOUASSEUR, MO">NOUASSEUR, MO</option>
                          <option value="KENITRA PORT LYAUTEY, MO">KENITRA PORT LYAUTEY, MO</option>
                          <option value="MENARA, MO">MENARA, MO</option>
                          <option value="ESSAOUIRA, MO">ESSAOUIRA, MO</option>
                          <option value="MIDELT, MO">MIDELT, MO</option>
                          <option value="ANFA, MO">ANFA, MO</option>
                          <option value="OUJDA, MO">OUJDA, MO</option>
                          <option value="TANGIER CITY, MO">TANGIER CITY, MO</option>
                          <option value="SANIAT RMEL, MO">SANIAT RMEL, MO</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-2 px-md-1">
                      <div class="form-group">
                        <label for="year-input">Année</label>
                        <input type="number" id="year-input" class="form-control" placeholder="Enter Year" min="1982" max="2032" step="1">
                      </div>                    
                    </div>
                    {% comment %} <div class="col-md-7 pl-md-1">
                       <div class="form-group">
                        <label for="date-input">Date</label>
                        <input type="date" id="date-input" class="form-control" placeholder="Select Date">
                      </div> 
                    </div> {% endcomment %}
                    <div class="col-md-2 px-md-1 mt-3 pt-1">
                      <button type="submit" class="btn btn-fill btn-primary">Chercher</button>
                    </div>
      
                  </div>


{% comment %} Par année + jour + mois {% endcomment %}
Par année + jour + mois
                  <div class="row">
                    <div class="col-md-3 pr-md-1">
                      <div class="form-group">
                        <label for="city-select">Ville</label>
                        <select id="city-select" class="form-control">
                          <option value="MELILLA, SP">MELILLA, SP</option>
                          <option value="BASSATINE, MO">BASSATINE, MO</option>
                          <option value="SALE, MO">SALE, MO</option>
                          <option value="OUARZAZATE, MO">OUARZAZATE, MO</option>
                          <option value="NOUASSEUR, MO">NOUASSEUR, MO</option>
                          <option value="KENITRA PORT LYAUTEY, MO">KENITRA PORT LYAUTEY, MO</option>
                          <option value="MENARA, MO">MENARA, MO</option>
                          <option value="ESSAOUIRA, MO">ESSAOUIRA, MO</option>
                          <option value="MIDELT, MO">MIDELT, MO</option>
                          <option value="ANFA, MO">ANFA, MO</option>
                          <option value="OUJDA, MO">OUJDA, MO</option>
                          <option value="TANGIER CITY, MO">TANGIER CITY, MO</option>
                          <option value="SANIAT RMEL, MO">SANIAT RMEL, MO</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-2 px-md-1">
                        <div class="form-group">
                         <label for="date-input">Date</label>
                         <input type="date" id="date" class="form-control" placeholder="Select Date">
                        </div> 
                    </div>
                    {% comment %} <div class="col-md-7 pl-md-1">
                       <div class="form-group">
                        <label for="date-input">Date</label>
                        <input type="date" id="date-input" class="form-control" placeholder="Select Date">
                      </div> 
                    </div> {% endcomment %}
                    <div class="col-md-2 px-md-1 mt-3 pt-1">
                      <button type="submit" class="btn btn-fill btn-primary">Chercher</button>
                    </div>
                    <div class="col-md-5 px-md-1 mt-3 pt-1">
                    </div>
      
                  </div>

{% comment %} Par année + jour + mois {% endcomment %}
 Par année + mois
                  <div class="row">
                    <div class="col-md-3 pr-md-1">
                      <div class="form-group">
                        <label for="city-select">Ville</label>
                        <select id="city-select" class="form-control">
                          <option value="MELILLA, SP">MELILLA, SP</option>
                          <option value="BASSATINE, MO">BASSATINE, MO</option>
                          <option value="SALE, MO">SALE, MO</option>
                          <option value="OUARZAZATE, MO">OUARZAZATE, MO</option>
                          <option value="NOUASSEUR, MO">NOUASSEUR, MO</option>
                          <option value="KENITRA PORT LYAUTEY, MO">KENITRA PORT LYAUTEY, MO</option>
                          <option value="MENARA, MO">MENARA, MO</option>
                          <option value="ESSAOUIRA, MO">ESSAOUIRA, MO</option>
                          <option value="MIDELT, MO">MIDELT, MO</option>
                          <option value="ANFA, MO">ANFA, MO</option>
                          <option value="OUJDA, MO">OUJDA, MO</option>
                          <option value="TANGIER CITY, MO">TANGIER CITY, MO</option>
                          <option value="SANIAT RMEL, MO">SANIAT RMEL, MO</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-2 px-md-1">
                      <div class="form-group">
                          <label for="month-input">Mois</label>
                          <select id="month" class="form-control">
                              <option value="1">Janvier</option>
                              <option value="2">Février</option>
                              <option value="3">Mars</option>
                              <option value="4">Avril</option>
                              <option value="5">Mai</option>
                              <option value="6">Juin</option>
                              <option value="7">Juillet</option>
                              <option value="8">Août</option>
                              <option value="9">Septembre</option>
                              <option value="10">Octobre</option>
                              <option value="11">Novembre</option>
                              <option value="12">Décembre</option>
                          </select>
                      </div> 
                    </div>
                    <div class="col-md-2 px-md-1">
                      <div class="form-group">
                          <label for="year-input">Année</label>
                          <input type="number" id="year" class="form-control" min="1982" max="2024" placeholder="Année">
                      </div> 
                    </div>
                    {% comment %} <div class="col-md-7 pl-md-1">
                      <div class="form-group">
                        <label for="date-input">Date</label>
                        <input type="date" id="date-input" class="form-control" placeholder="Select Date">
                      </div> 
                    </div> {% endcomment %}
                    <div class="col-md-2 px-md-1 mt-3 pt-1">
                      <button type="submit" class="btn btn-fill btn-primary">Chercher</button>
                    </div>
                  </div>

                </form>
              </div>
    
              {% comment %}  {% endcomment %}
            </div>              
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>







  



  {% endblock content %}

<!-- Specific Page JS goes HERE  -->


{% block javascripts %}

  <script>
    {% comment %} $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initGoogleMaps();
    });
{% endcomment %}
        function extractYear(input) {
        const date = new Date(input.value);
        if (!isNaN(date)) {
            input.value = date.getFullYear();
        }
    }
  </script> 

{% endblock javascripts %}
